ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  padding-inline-start: 10px
}

li {
  float: left;
  padding: 0 10px;
  
}

li:hover {
  background-color: #111;
}

li a {
  display: block;
  color: white;
  padding:18px 0;
  text-align: center;
  text-decoration: none;
}

.adddiv input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid ;
  border-radius: 4px;
  box-sizing: border-box;
}
#title{
 
  font-size: 1.3em;
  font-family:'product sans','Times New Roman', Times, serif;
  color: pink;
}
.adddiv button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid ;
  border-radius: 4px;
  box-sizing: border-box;
  
  background-color: green;
  color: white;
  cursor: pointer;
}
button:hover{

  background-color:#409b26;

}

.adddiv{
  width: 80%;
  margin: 30px auto;	
  border-radius: 20px;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px ;
}

.menu-merge{
  width : 20%;
}

.menubutton {
     background:none;
     color:white;
     border:none; 
     font: inherit;
     cursor: pointer;
     padding:18px 0;
}

.menubutton:hover{
  background-color: #111;
}

.box {
  box-sizing: border-box;
  float: left;
  width: 48%;
  height: 500px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  margin:10px ;
  border-radius: 20px;
}

.diffbut{
  align-content: center;
  margin:0 100px;
  width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table; 
}

.clearfix{
  margin-left: auto;
  margin-right : auto;
  width : 90%;
}


#diffButton
{ 
  border: 1px solid ;
  height :60px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: orange;
  color: white;
  cursor: pointer;
}

#diffButton:hover{
  background-color: #cc5200;
}

*{
  font-family: 'product sans','Arial';
}

.viewtable {

  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.viewtable thead th
{
  background-color: lightblue;
  width: 30%;
  font-style: bold;
  padding: 10px 5px;
  text-align: left;

}

.viewtable tr
{
  border-bottom: 1px solid grey;
}

.viewtable td
{ 
  padding: 10px 5px;
}

#signout a {
  color:white;
  align-items: left;
}

.username{
  color:pink;
  align-content:right;
  font-family: cursive;
  padding: none; 
}

.sobutton{
  background:none!important;
  border:none;
  color:white;
}
.sobutton:hover{
  background-color: #111;
}
.g-signin2{
  width:50%;
}

.win-signin{
    background:none;
    padding:5px 2px;
}

.win-signin:hover{
  background-color: #cccccc;
}

.Fops{
  display:none;
}

.view_menu
{
  background:black;
  color:white;
  border:none; 
  font: inherit;
  cursor: pointer;
}

.view_menu button{
  padding : 7px 0 0 0;
}

div2{
  float: left;
  width: 50%;
}

.renamediv{
  display:none;
}

.fileslist button, .filename{
  background:none;
  border:none;
  border-bottom:1px solid black;
  margin:3px 0px;
  padding:0px;
  
}
.fileslist button:hover , .filename:hover{
  background-color:aqua;
}
.editfile{
  display: none;
}

.form2
{
  color: white;
  border-radius: 4px;
  background-color: rgb(59, 52, 52);
}

.active{
  font-weight:bold;
  text-decoration: underline;
}

.del_each{
  align-self:right;
  border-radius: 10px;
  background: red;
  color: white;
  display: none;
}
button.del_each:hover{
  background: rgb(143, 7, 7);
  display: none;
}
.save,.line_hide{
  display: none;
}

.remove{
  margin:0;
  padding:0;
}

.add{
  padding :5px 0 0 0 ;
}

a.add:hover{
background-color: #409b26;

}
.addform{
  display: block;
}

.hello{
  width:40%;
  margin:20px 20px;
  float: left;
}
.hello input{
  border:none;
  width: 100%;
  border-bottom: 1px solid grey;
}

font.small{
  font-size: 0.6em;
}

.boldline{
  height: 3px;
  background-color: black;
}