<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8">
  <meta name="google-signin-client_id" content="285642017902-jf6qf0fpoj73tchih5m4709dg20obsk6.apps.googleusercontent.com"> 
  <title>FILE MANAGEMENT</title>
  
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/ember-tutorial.css"> 
</head>

<!--  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<body>
  <script type="text/x-handlebars">
    
     <ul class = "title">
          <li><b><i>{{#link-to 'index' title='home page'}}File Management{{/link-to}}</i></b> </li>
      {{#if access}}
         
          <li> <button  class='menubutton' {{action 'mergefiles'}}  title='Merge the files without duplications'> MERGE </button> </li>
          <li>{{#link-to 'viewR' title='view the file'}}VIEW{{/link-to}}</li>
          <li>{{#link-to 'diffR' title='find the difference between two files'}}DIFFERENCE FINDER{{/link-to}} </li>
          <li>{{#link-to 'createR' title='create and give permissions to file'}}CREATE{{/link-to}} </li>
         
          <li style="float:right"><button class='menubutton left' title='Logout from the app' onclick="logout()">  Logout </button></li>
          {{#unless code}}
            <li style ="float:right"><button class='menubutton left' title = 'get access code' {{action 'getcode'}}> get code </button> </li>
          {{/unless}}

          {{#if code}}
            <li style ="float:right"><button class='menubutton left' title = 'get access token' {{action 'gettoken'}}> get token </button> </li>
          {{/if}}

          <li style="float:right"><b><i> <p class="username left"> Hi {{user_name}}</p></i></b></li>
          {{accesscheck this}}
      {{/if}}
      </ul>


   <!--////////////////////////////////////////////////////  LOGIN AND AUTH ///////////////////////////////////////////////////////////////////////////////////////////////////// --> 
      {{#unless access}}
      <br><br><br>
      <table id="logins" align ='center'>
          <tr><td><div class="g-signin2"  data-onsuccess="onSigIn" title="sign in with your google account"></div></td><td align='center'>  or  </td>      
          <td><button class="win-signin" {{action  'pressed'}} title="sign in with your windows account">  Windows Sign in </button></td></tr>
      </table>
        <br/>
         <div align ='center'> Didn't Register?  &nbsp;  {{#link-to 'register_application' title='register your application'}} Register{{/link-to}}
         <br/>
         <br>
           <button class ="win-signin" {{action 'registeredUser'}} title="fetch your stored credentials"> Already Registered ?</button></div>
          {{#if registerd}}
            <button class="win-signin code" {{action 'getcode'}}> get Code </button>
            {{#if gotcode}}
              <button class ="win-signin token" {{action 'gettoken'}}> get access_token </button>
            {{/if}}
          {{/if}}
      {{/unless}}

<!--///////////////////////////////////////////////////  WINLOGIN ///////////////////////////////////////////////////////////////////////////////////// -->
      {{#if win_press}}
        {{#unless access}}
        <div class='adddiv'>
          Domain  : {{input type="text" value =win_domain}}<br>
          UserName :{{input type="text" value =win_user_name}}<br>
          Password :{{input type="Password" value=win_password}}<br>
          <button {{action 'winlogin'}} value="submit">submit</button>
        </div>
        {{/unless}}
      {{/if}}
      
    {{outlet}}
  </script>
<!--/////////////////////////////////////////////// create ////////////////////////////////////////////////////////////////////// -->
<script type="text/x-handlebars" id="createR">

{{#if access}}
      
      <div class="hello">
      <h4><b>Filename</b></h4>
      {{input type="text" value=filename placeholder="enter filename"}}<br/><br/>
      <button type="submit" {{action 'create_file'}}> create file </button><font class="small">(add file entries in the view tab)</font><br/>
      <hr class = "boldline"/>
      <table>
        <tbody>
        {{#each files}}
          <tr>
            <td>
              <button class="filename" {{action 'view_permissions' name}} > {{name}} </button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      </div> 
{{/if}}

</script>
<!--/////////////////////////////////////////////////////////////   ADD    //////////////////////////////////////////////////////////////////////////////// -->
  <script type="text/x-handlebars" id='addR'>
  <div2 class ="addform">
    {{#if access}}
    
      <h1><i>{{this.model.Title}}</i></h1>
        <div class="adddiv">
        <form >
        Name:{{input type='text' value=name required="required" placeholder="Enter Name..."}}<br>
        ID:{{input type='text' value=id required="required" placeholder="Enter ID...."}}<br>
        Password:{{input type='text' value=pwd required="required" placeholder="Enter Password..."}}<br>
        <button {{action 'addtofiles' }} value="Submit"> ADD TO FILE</button>
        </form>
            {{message}}
        </div>
    {{/if}}
  </div2>
  </script>
<!--////////////////////////////////////////////////////  ADDING TO FILE ///////////////////////////////////////////////////////////////////////////////////// -->
  <script type="text/x-handlebars" id="viewR">
    {{#if access}}
      <h1><i>Viewing File </i></h1>
      
     
      <div class = "fileslist">
        {{#each file in files}}
          <button class="filename" {{action 'viewfile' file}} > {{file}} </button><br/>
        {{/each}}
     
      <br>
      </div>
        
          
          {{#if current_filename}}
          <ul class = "view_menu">
            <li><i><b><font size='5px' color="white">{{#link-to 'viewR' class="remove"}} {{current_filename}} {{/link-to}}</font> </b></i></li>
            <li><button class = "view_menu edit_menu"   title='edit this file' {{action 'edit' 'init'}} >Edit</button></li>
            <li><button class = "view_menu edit_menu"   title='delete entries  in this file' {{action 'delete' 'init'}} >delete</button></li>
             <li>{{#link-to 'addR' title='add an entity to a file' class="remove add"}}ADD{{/link-to}}</li>
             <li>{{#link-to 'renameR' title='add an entity to a file' class ="remove add"}}Rename{{/link-to}}</li>
          </ul>
           {{/if}}        
        
      
      <div2 class="filecontents">
        <table  class="viewtable">
        {{#if datas}}
            <thead>
              <tr>
                <th>NAME</th>
                <th>ID</th>
                <th>PASSWORD</th>
                <th></th>
              </tr>
            </thead>
          {{/if}}
          <form>
          <br>
         <!-- //////////////////////////    files printing                     //////////////////////////////--> 
          {{#each datas}} 
              <tr onclick="test(this)">
                <td contenteditable='true' class="tname">{{name}}</td>
                <td contenteditable='true' class="tid">{{id}}</td>
                <td class="line_hide">{{line}}</td>
                <td contenteditable='true' class="tpwd">{{pwd}}</td>
                <td><button class="editfile" {{action 'edit' this}} >edit</button></td>
                              
                <td>{{input type="checkbox" class = "del_each" name = "scopes" checked=checked }}</td>
                
              </tr>       
         
          {{/each}}  
         
            <button style="float:right" class = "del_each"  value = "submit" {{action 'delete'}}>delete selected</button>
            <button style="float:right" class = "save"  value = "submit" {{action 'save'}}>save Changes</button>
          </form>   
       </table>
     </div2>

     <div2>
     {{outlet}}
    </div2>

     
    {{/if}}
  </script>
<!-- ====================================================== -->
<script type="text/x-handlebars" id="renameR">
<div class = "adddiv">
         
    <form>
    Rename
    {{input value = newfile_name placeholder ='enter a new filename' required = 'required'}}<br/>
    <button value='submit' class="renamebtn" {{action 'rename'}}>rename</button> 
    </form>
      
  </div>

</script>


<!--//////////////////////////////////////////  VIEW OPS ///////////////////////////////////////////////////////////////////////////////////// -->
<script type="text/x-handlebars" id="post/edit">
<div2>
  <div class = "renamediv form2 adddiv">
  hello
    <p>{{input type="text" value=name}}</p>
    <p>{{input type="text" value=id}}</p>
    <p>{{input type="text" value=pwd}}</p>
   </div>
</div2>
  </script>

<!--//////////////////////////////////////////  VIEW sep ///////////////////////////////////////////////////////////////////////////////////// -->

<script type="text/x-handlebars" id="diffR">
{{#if access}}
<div class="clearfix">
  <div class="box" style="background-color:#bbb" id="old">
    <b>Original Text</b><hr>
    <table>
      <tbody>
      {{#each old in init_old}}
        <tr><td>{{isnull old.value}}</td></tr>
      {{/each}}
      </tbody>
      </table>
  </div>
  <div class="box" style="background-color:#ddd" id="new">
     <b>Changed Text</b><hr>
    <table>
      <tbody>
      {{#each new in init_new}}
          <tr><td>{{isnull new.value}}</td></tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>


  <div class="diffbut">
    <button {{action 'diffe'}} id="diffButton"> <i><b>Find Difference</i> </b></button>
  </div>


  {{#if message}}
      <div class="clearfix">
        <div class="box" style="background-color:#bbb" id="olddiff">
          <b>Original Text</b><hr>
            <table style='width:100%'>
              {{#each old in olddata}}
                {{isremoved old.index removed old.value}}
              {{/each}}
            </table>
        </div>

        <div class="box" style="background-color:#ddd" id="newdiff">
          <b>Changed Text</b><hr>
            <table style='width:100%'>
              {{#each new in newdata}}
                {{isadded new.index sequence new.value}}
              {{/each}}
            </table>
        </div>

      {{message}}

  {{/if}}
</div>

{{/if}} 
  </script>

<!--///////////////////////////////////  DIFFERENCE FINDER ///////////////////////////////////////////////////////////////////////////////////// -->

  <script type="text/x-handlebars" id="register_application">
    {{#unless access}}
    
    <form id="scope_register">
      <h2 align = "left"> Select Scopes</h2>
      <hr>
      <table align='center'>
      <tr><td>Add to file </td><td>{{input type="checkbox" name = "scopes" checked=add}}</td></tr>
      <tr><td>view  </td><td>{{input type="checkbox" name = "scopes" checked=viewing}}</td></tr>
      <tr><td>merge </td><td>{{input type="checkbox" name = "scopes" checked=merge}}</td></tr>
      <tr><td>Difference finder</td><td>{{input type="checkbox" name = "scopes" checked=diff}}</td></tr>
      <tr><td></td><td><button class="win-signin" {{action 'addscopes'}} value="submit">submit</button><td></tr>
      </table>
      {{/unless}}
  </script>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!--////////////////////////////////////////////  ^|^ REGISTERING THE APPLICATION ///////////////////////////////////////////////////////////////////////////////////// -->

<script src="js/libs/jquery-v1.11.1.js"></script>
<script src="js/libs/handlebars-v1.3.0.js"></script>
<script src="js/libs/ember-v1.6.1.js"></script>
<script src="js/app.js"></script>
<script src="js/libs/googleapi.js"></script>
    
</body>
</html>
